.app
  width: 100%
  height: 100%
  background-color: #f2f3f5
  .youzan-view
    width: 100%
    height: 100%
  .youzan-tab
    position: fixed
    bottom: 0
    width: 100%
    height: 49px
    border-top: 1px solid #b2b2b2
    background-color #fff
    display: flex
    .tab-item
      width: 75px
      height: 100%
      margin: auto
      display: flex
      align-items center
      justify-content: center
      .nav-link
        display: block
        color: #a6a6a6
        font-size: bold
        text-decoration: none
        &.active
          color: #ff4444
