.shopping
    width: 100%
    height: 100%
    .shopping-header
        width: 100%
        height: 65px
        border-bottom: 1px solid #aeaeae
        padding-top: 32px
        box-sizing: border-box
        background-color #fefefe
        font-size: 18px
        font-weight: bold
        text-align: center
    .shopping-body
            width: 100%
            height: 84vh
            background-color #f4f4f4
            .shopping-again
                width: 100%
                height: 100%
                padding: 72px 106px 0 106px
                box-sizing: border-box
                .shopping-title
                    font-size: 18px
                    text-align: center
                    line-height: 28px
                    color: #666666
                .shopping-text
                    font-size: 16px
                    text-align: center
                    line-height: 28px
                    color: #aaaaaa
                    margin-bottom: 10px
                .quguangguang
                    width: 81px
                    height: 31px
                    margin: auto
                    font-size: 16px
                    text-align: center
                    line-height: 27px
                    color: #ff4545
                    border: 1px solid #ff4545
                    border-radius: 40px







