.good-content
    width: 100%
    height: 100%
    .scroll
        width: 100%
        height: 83vh
        .advertisement
            width: 100%
            height: 388px
            background-color: #fff
            .guarantee
                width: 100%
                height: 30px
                display: flex
                .guarantee-item
                    flex: 1
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 11px
                    color: #e0ab68
                    .guarantee-img
                        width: 12px
                        height: 12px
                        margin-right: 5px
            .swiper-container
                width: 100%
                height: 154px
                padding: 0 10px 0 10px
                box-sizing: border-box
                position: relative
                .swiper-slide
                    width: 100%
                    height: 100%
                .swiper-pagination-bullet-active
                    background-color: #DDDDDD
            .recommend
                width: 100%
                height: 105px
                display: flex
                .recommend-item
                    flex: 1
                    height: 100%
                    color: #666666
                    font-size: 11px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    .recommend-img
                        width: 41px
                        height: 41px
                        border-radius: 50%
                        margin-bottom: 12px
            .goodAdvertisement
                width: 100%
                height: 92px
                border-radius: 40px
                padding: 0 10px 0 10px
                box-sizing: border-box
        .todayWillRob
            width: 100%
            height: 211px
            margin-top: 11px
            padding: 0 10px 0 10px
            box-sizing: border-box
            .robTitle
                width: 100%
                height: 39px
                display: flex
                justify-content: space-between
                align-items: center
                .todayTitle
                    font-size: 16px
                    font-weight: bold
                .moreRob
                    font-size: 11px
                    color: #999999
                    .toRight
                        width: 10px
                        height: 10px
                        margin-left: 5px
            .robGoods
                width: 100%
                height: 172px
                background-color: #fff
                border-radius: 10px
                display: flex
                .rob-item
                    flex: 1
                    height: 100%
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    .rob-img
                        width: 100px
                        height: 100px
                        margin-bottom: 8px
                    .rob-title
                        font-size: 12px
                        color: #333333
                        font-weight: bold
                        margin-bottom: 8px
                        display: -webkit-box;
                        -webkit-box-orient: vertical
                        -webkit-line-clamp: 1
                        overflow: hidden
                    .rob-price
                        display: flex
                        align-items: center
                        .newPrice
                            font-size: 16px
                            font-weight: bold
                            color: #ff4444
                            margin-right: 5px
                        .oldPrice
                            font-size: 10px
                            text-decoration: line-through
                            color: #b3b3b3
        .carefully
            width: 100%
            margin-top: 11px
            padding: 0 10px 0 10px
            box-sizing: border-box
            .carefullyTitle
                width: 100%
                height: 39px
                display: flex
                align-items: center
                .bigTitle
                    font-size: 16px
                    font-weight: bold
                    margin-right: 10px
                .smallTitle
                    font-size: 11px
                    color: #999999
            .carefullyGoods
                width: 100%
                .carefully-item
                    width: 100%
                    height: 145px
                    margin-bottom: 10px
                    border-radius: 10px
                    background-color #fff
                    display: flex
                    align-items: center
                    .carefully-img
                        width: 125px
                        height: 125px
                        margin-left: 11px
                    .carefully-infomation
                        position: relative
                        width: 100%
                        padding: 0 11px 0 11px
                        height: 118px
                        box-sizing: border-box
                        // margin-left: 11px
                        // display: flex
                        // flex-direction: column
                        // justify-content: space-between
                        .carefully-title
                            font-size: 16px
                            font-weight: bold
                            display: -webkit-box;
                            -webkit-box-orient: vertical
                            -webkit-line-clamp: 2
                            overflow: hidden
                            margin-bottom: 12px
                        // .carefully-introduce
                            // margin-top: 14px
                            .introduce-item
                                font-size: 10px
                                color: #ff4444
                                padding: 0 8px 0 8px
                                margin-right: 3px
                                box-sizing: border-box
                                display: inline-block
                                border-radius: 40px
                                border: 1px solid #ff4444
                        .carefully-price
                            position: absolute
                            bottom: 0
                            display: flex
                            align-items: center
                            .carefully-newPrice
                                font-size: 18px
                                color: #ff4444
                                font-weight: bold
                                display: inline-block
                                margin-right: 7px
                            .carefully-count
                                height: 18px
                                padding: 0 6px
                                line-height: 18px
                                font-size: 10px
                                box-sizing: border-box
                                border-radius: 5px
                                color: #fff
                                background-color: #ff4444