.find-content
    width: 100%
    height: 100%
    background-color #f2f3f5;
    z-index: 0
    .backGround
        position: absolute
        top: 0
        width: 100%
        height: 280px
        filter: blur(5px)
        z-index 1
    .find-header
        position relative
        width: 100%
        height: 68px
        font-size: 18px
        color: #fff
        font-weight: bold
        text-align: center
        line-height: 68px
        z-index: 100
    .find-navigation
        position relative
        width: 100%
        height: 40px
        display: flex
        z-index 100
        .nav-item
            color: #d8d8d8
            font-size: 12px
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .underline
                width: 40px
                height: 4px
                background-color #fff
                margin: 8px 0 5px 0
                border-radius: 3px
    .find-goods
        position relative
        height 75vh
        padding: 0 12px 0 12px
        box-sizing: border-box
        z-index 100
        .find-item
            width: 100%
            height: 218px
            border-radius: 10px
            background-color #fff
            margin-bottom: 10px
            .item-img
                width: 100%
                height: 150px
                border-radius: 10px 10px 0 0
            .item-title
                font-size: 16px
                font-weight: bold
                margin: 6px 12px 0 12px
                display: -webkit-box;
                -webkit-box-orient: vertical
                -webkit-line-clamp: 1
                overflow: hidden
            .item-message
                height: 20px
                margin: 6px 12px 0 12px
                display: flex
                justify-content: space-between
                .item-shop
                    height: 100%
                    display: flex
                    align-items: center
                    .avatar
                        width: 20px
                        height: 20px
                        border-radius: 50%
                    .item-name
                        font-size: 10px
                        color: #939495
                        margin-left: 9px
                .want
                    height: 20px
                    display: flex
                    align-items: center
                    font-size: 10px
                    color: #ff5d55
                    .want-img
                        width: 12px
                        height: 12px
                        margin-right: 6px
                    
